.header{
    font-size: 23;
    width: 100%;
    margin: 0;
}

#note{
    top:0px;
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.speed{
    float: left;
}

.div_speed_img{
    width: 200px;
    border-radius: 100px;
}

#speed{
    font-size: 23px;
    margin: 15px;
}

.volume{
    float: right;
}

.div_volume_img{
    width: 200px;
    border-radius: 100px;
}

#volume{
    font-size: 23px;
    margin: 15px;
}

.play_button{
    width: 130px;
    font-size: 25px;
}

canvas{
    border:5px solid white;
    border-radius: 20px;
}